<div class="container">
    <mat-card class="card">
        <mat-card-header>
            <span class="mat-headline-3">студентики</span>
        </mat-card-header>

        <mat-divider />
        <div *ngFor="let student of students;">
            <student
                [student]="student"
                (deleteClick)="onDelete($event)"
                (updateClick)="onUpdate($event)"
            />
            <mat-divider />
        </div>

        <app-button (click)="addStudent()" value="+ student" />
    </mat-card>
</div>
