.container {
    padding: 10px;
    border-radius: 5px;
    max-width: 600px;
    margin: 5px;
    justify-content: space-around;
}

.title {
    color: black;
    font-size: 2rem;
    font-weight: 500;
}

mat-card {
    height: 100%;
}

.price {
    color: darkred;
    font-weight: bold;
    font-size: 9em;
}

* {
    word-break: break-word;
}

.button {
    border: 1px;
    padding: 10px;
    margin-right: 5px;
    border-radius: 5px;
}
