<div>courses: {{ courses.length }}</div>
<button (click)="studentsClick()">students</button>
<div class="course-container">
    <div>
        <button (click)="addCourse()">+ курс</button>
    </div>

    <course *ngFor="let course of courses" [course]="course">
        <div top># {{ course.id }}</div>
        <course-button-block
            actions
            (moreClick)="onMoreClick(course)"
            (editClick)="onEditClick(course)"
            (deleteClick)="onDeleteClick(course)"
        />
    </course>
</div>
