<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
        <table>
            <tr>
                <td>
                    <app-textarea
                        label="title"
                        controlName="title"
                    ></app-textarea>
                </td>
            </tr>
            <tr>
                <td>
                    <app-textarea
                        label="Description"
                        controlName="description"
                    ></app-textarea>
                </td>
            </tr>
            <tr>
                <td>
                    <app-input controlName="price" label="Price:" />
                </td>
            </tr>
            <tr>
                <td>
                    <app-input
                        label="Duration"
                        type="number"
                        controlName="duration"
                        suffix="недель"
                    />
                </td>
            </tr>
        </table>

        <div>
            <span class="mat-h1 lessons-title">Lessons:</span>
            <div *ngFor="let form of forms; let i = index">
                <div class="centered-text margin">
                    <span>#{{ i + 1 }}</span>
                    <app-fab
                        class="button-button margin"
                        color="white"
                        type="button"
                        (click)="removeLesson(i)"
                        icon="remove"
                    />
                </div>
                <lesson-edit-form [form]="form" />
            </div>
            <div>
                <app-button
                    type="button"
                    (click)="handleClick()"
                    icon="add"
                    value="Lesson"
                />
            </div>
        </div>
    </div>
    <input type="submit" value="Submit" [disabled]="form.invalid" />
</form>
