<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
        <table>
            <tbody>
                <tr>
                    <td>Title:</td>
                    <td>
                        <textarea
                            name="title"
                            type="text"
                            formControlName="title"
                        ></textarea>
                    </td>
                </tr>
                <tr>
                    <td>Description:</td>
                    <td>
                        <textarea
                            name="description"
                            type="text"
                            formControlName="description"
                        ></textarea>
                    </td>
                </tr>
                <tr>
                    <td>Price:</td>
                    <td>
                        <input
                            name="price"
                            type="number"
                            formControlName="price"
                        />
                    </td>
                </tr>
                <tr>
                    <td>Duration:</td>
                    <td>
                        <input
                            name="duration"
                            type="number"
                            formControlName="duration"
                        />
                        недель
                    </td>
                </tr>
            </tbody>
        </table>

        <div style="background: darkgray">
            Lessons:
            <div *ngFor="let form of forms; let i = index">
                # {{ i + 1 }}
                <button type="button" (click)="removeLesson(i)">-</button>
                <lesson-edit-form [form]="form" />
            </div>

            <button type="button" (click)="onAddLesson()">+ Lesson</button>
        </div>
    </div>
    <input type="submit" value="Submit" [disabled]="form.invalid" />
</form>
