<form [formGroup]="form" (ngSubmit)="onSubmit()" class="container">
    <div>
        <table>
            <tr>
                <td>
                    <app-input controlName="title" label="Title:" />
                </td>
            </tr>
            <tr>
                <td>
                    <app-input controlName="description" label="Description" />
                </td>
            </tr>
            <tr>
                <td>
                    <datepicker controlName="date" label="Date" />
                </td>
            </tr>
        </table>

        <div class="att">
            <attachments [formControls]="form.controls.attachments" />
        </div>
    </div>
    <ng-content />
</form>
